<p>
  <mat-toolbar>
    <div style="width: 100%">
      <h1 class="titulo-toolbar centrado-texto" style="margin: 0 auto;">
        Calculate loan installments - French system
      </h1>
    </div>
  </mat-toolbar>
</p>
<div class="content" role="main">
  <br>
  <form class="example-form" [formGroup]="form" (ngSubmit)="calculate()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Amount</mat-label>
      <input
        name="capital"
        matInput
        formControlName="amount"
        type="text"
        pattern="[0-9]*"
        (keydown)="onKeyDown($event)"
      />
      <mat-error>{{ getErrorMessage("amount") }}</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Number of installments</mat-label>
      <input
        type="number"
        name="plazo"
        min="1"
        matInput
        maxlength="5"
        formControlName="installments"
      />
      <mat-error>{{ getErrorMessage("installments") }}</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Interest rate</mat-label>
      <input
        type="number"
        step="0.01"
        name="tasa"
        min="0.1"
        matInput
        maxlength="5"
        formControlName="interestRate"
      />
      <mat-error>{{ getErrorMessage("interestRate") }}</mat-error>
    </mat-form-field>

    <div class="container-button">
      <button mat-raised-button type="submit" [disabled]="form.invalid">
        Generate
      </button>
    </div>
  </form>

  <div class="responsive">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 tabla-cuotas"
      *ngIf="this.installments.length"
    >
      <ng-container matColumnDef="numberInstallment">
        <th mat-header-cell *matHeaderCellDef><b>#</b></th>
        <td mat-cell *matCellDef="let element">{{ element.numberInstallment }}</td>
        <td mat-footer-cell *matFooterCellDef>Total</td>
      </ng-container>

      <ng-container matColumnDef="amortization">
        <th mat-header-cell *matHeaderCellDef><b>Amortization</b></th>
        <td mat-cell *matCellDef="let element">
          {{ element.amortization | separadorMiles }}
        </td>
        <td mat-footer-cell *matFooterCellDef>
          {{ totalAmortization | separadorMiles }}
        </td>
      </ng-container>

      <ng-container matColumnDef="interest">
        <th mat-header-cell *matHeaderCellDef><b>Interest</b></th>
        <td mat-cell *matCellDef="let element">
          {{ element.interest | separadorMiles }}
        </td>
        <td mat-footer-cell *matFooterCellDef>
          {{ totalInterest | separadorMiles }}
        </td>
      </ng-container>

      <ng-container matColumnDef="pendingAmount">
        <th mat-header-cell *matHeaderCellDef><b>Pending amount</b></th>
        <td mat-cell *matCellDef="let element">
          {{ element.pendingAmount | separadorMiles }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="installment">
        <th mat-header-cell *matHeaderCellDef><b>Installment</b></th>
        <td mat-cell *matCellDef="let element">
          {{ element.installment | separadorMiles }}
        </td>
        <td mat-footer-cell *matFooterCellDef>
          {{ totalInstallments | separadorMiles }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="tableColumns"></tr>
    </table>
  </div>

  <div class="container-button" *ngIf="installments.length">
    <button mat-raised-button (click)="downloadXls()">
      Download XLS
    </button>
  </div>

  <br />
  <br />
  <br />
</div>

<div class="footer">
  <div class="container-end">
    <a
      href="https://github.com/ArielAyala/calculate-loan-installments-french-system"
      target="_blank"
    >
      <img src="assets/logo-github.svg" alt="logo github" class="logo-github" />
    </a>
  </div>
</div>

<router-outlet></router-outlet>
